

*{
    margin:0;
    padding:0;
}

a{
    text-decoration: none;
}

ul li{
    list-style:none;
   
}

.back_b{
    background-image: url(../images/back_l_o.jpg);
    left:50%;
    margin-left:-1264;
    background-size: 100% 100%;
}

.back_r{
    left:50%;
    margin-left:680px;
    background-image: url(../images/back_r_o.jpg);
    background-size: 100% 100%;
}



.header_bg{
    /* background: url(../images/ggwbk.jpg) no-repeat; */
    position: relative;
    box-shadow:5px 5px 10px black
   
}
.m0_bg{
    position: absolute;
    top:50px;
    left:200px;
}
.m01_bg{
    display: flex;
    justify-content:space-between;
    
    height: 40px;
    line-height: 40px;
    
}

/* .m0_bg img */

.m_bg{
    position: absolute;
    width:100%;
    height:2px;
    top:30px;
    background: linear-gradient(to right, #978787 , #f6f6f6);
}

.m0_bg span{
    margin-left:10px;
    font-size: 12px;
    cursor: pointer;
    color:#bf967c;
    align-items: center;
}

.m0_bg a{
    display: inline-block;
    color:#797979;
    font-size: 12px;
    margin-left:20px;
}

.m1_bg{
    background-size: 100%;
    text-align: center;
     margin-top: 50px;
    
}



.m2{
    padding:20px ;
    
    height: 30px;
    line-height: 30px;
    background: #fff;
}

.m2 ul{
    display: flex;
    flex-flow: row nowrap;
    justify-content:space-around;
    align-items: center;
    margin:0 200px;
    border:none;
}

.m2 ul li a{
    color:#333;
    font-size: 12px;
    
    
}

.m2 ul li a:hover{
    color:#9b745c;
    border-bottom:3px solid #9b745b;
    padding:0px 0px 5px 0px;
}

.dr_show{
    width: 1200px;
    margin:0 auto;
}

.dr_show img{
    width: 100%;
}