

*{
    margin:0;
    padding:0;
}

a{
    text-decoration: none;
}

ul li{
    list-style:none;
   
}

.drbackground {
    width: 584px;
    height: 1260px;
    position: fixed;
    top: -100px;
    background-repeat: no-repeat;
    background-position: center top}

.drbackground.back_l {
    left: 50%;
    margin-left: -1264px;
    background-image: url(../images/back_l_o.jpg);
}


.drbackground.back_r {
    left: 50%;
    margin-left: 680px;
    background-image: url(//res.darryring.com/webimg/index/back_r_o.jpg);
    
}

.header_bg{
    
    position: relative;
    width: 1360px;
    margin:0 auto;
   
}

.m00_bg{
    position: relative;
}
.m00_bg:hover .m00_bg1{
    height: 300px;
    opacity: 1;
}
.m00_bg1{
    position:absolute;
    width: 350px;
    height: 0px;
    border:1px solid #8d8d8d;
    background:#fff;
    z-index: 2;
    text-align: center;
    left: -125px;
    opacity: 0;
    overflow: hidden;
    transition: all .5s linear;
}
.m00_bg1 h2{
    margin: 20px 0px 10px 0;
}

div.m00_bg1 .button_bg:hover{
    background:#2451cc
}

.button_bg{
    background:#000;
    color:#fff;
    font-size: 16px;
    width: 200px;
    height: 50px;
    border:1px solid #000;
    cursor: pointer;   
}

.m01_bg{
    display: flex;
    justify-content:space-between;
    height: 40px;
    line-height: 40px;
    border:1px solid #b8b7b6;
    border-left:none;
    border-right: none;
    position: relative;
    top:20px;
    
}

/* .m0_bg img */

.m_bg{
    position: absolute;
    width:100%;
    height:2px;
    top:30px;
    
}
div .imgs img{
    vertical-align: middle;
    margin-left:10px;
}

div .imgs .imgsi{
    margin-left:10px;
}


div .imgs a{
    display: inline;
    font-size: 14px;
    color:#000;
    font-family:"Garamond";
    margin-left:10px;
}
div .imgs span{
    font-size: 12px;
    color:#000
}

div .imgs a:hover{color:#bf967c}

.m0_bg span{
    margin-left:10px;
    font-size: 12px;
    cursor: pointer;
    color:#bf967c;
    align-items: center;
}

.m0_bg a{
    display: inline-block;
    color:#797979;
    font-size: 12px;
    margin-left:20px;
}

.m1_bg{
    background-size: 100%;
    text-align: center;
     margin-top: 30px;
    
}
 .imgs div{
    display: inline-block;
 }
.imgs div div:first-child{
    display: inline-block;
    cursor: pointer;
    
}

.m2{
    margin:20px ;  
    height: 30px;
    line-height: 30px;
}

.m2 ul{
    display: flex;
    flex-flow: row nowrap;
    justify-content:space-around;
    align-items: center;

    border:none;
}

.m2 ul li a{
    color:#333;
    font-size: 12px;
    
    
}

.m2 ul li a:hover{
    color:#9b745c;
    border-bottom:3px solid #9b745b;
    padding:0px 0px 5px 0px;
}



.dr_show img{
    width: 100%;
}

.lb_bg{
    width: 1200px;
    margin:0 auto;
}

.lb_bg img{width: 100%;}

.show_bg{
    background-image: url(../images/back_l_o.jpg);
    background-size: 100% 100%;
}



div ul.m2_title{
    position: relative;
    width: 100%;
}



li.m2_title0:hover .m2_title1{
    height: 250px;
    opacity: 1;
    border: 1px solid #8d8d8d;
    
}


.m2_title1{
    top:35px;
    width: 100%;
    height: 0px;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    position: absolute;
    border: 0;
    left:0px;
    opacity: 0;
    overflow: hidden;
    transition: all .3s linear;
    box-sizing: border-box;
    z-index: 10;
    background: #fff
}

li.m3_title:hover .m3_title1{
    height: 250px;
    opacity: 1;
    border: 1px solid #8d8d8d;
   
}


.m3_title1{
    top:35px;
    width: 100%;
    height: 0px;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    position: absolute;
    border: 0;
    left:0;
    opacity: 0;
    overflow: hidden;
    transition: all .3s linear;
    box-sizing: border-box;
    z-index: 10;
    background: #fff
}

li.m4_title:hover .m4_title1{
    height: 250px;
    opacity: 1;
    border: 1px solid #8d8d8d;
   
}


.m4_title1{
    top:35px;
    width: 100%;
    height: 0px;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    position: absolute;
    border: 0;
    left:0px;
    opacity: 0;
    overflow: hidden;
    transition: all .3s linear;
    box-sizing: border-box;
    z-index: 10;
    background: #fff
}

li.m5_title:hover .m5_title1{
    height: 250px;
    opacity: 1;
    border: 1px solid #8d8d8d;
   
}


.m5_title1{
    top:35px;
    width: 100%;
    height: 0px;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    position: absolute;
    border: 0;
    left:0px;
    opacity: 0;
    overflow: hidden;
    transition: all .3s linear;
    box-sizing: border-box;
    z-index: 10;
    background: #fff
}

li.m6_title:hover .m6_title1{
    height: 250px;
    opacity: 1;
    border: 1px solid #8d8d8d;
    
}


.m6_title1{
    top:35px;
    width: 100%;
    height: 0px;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    position: absolute;
    border: 0;
    left:0px;
    opacity: 0;
    overflow: hidden;
    transition: all .3s linear;
    box-sizing: border-box;
    z-index: 10;
    background: #fff
}

li.m7_title:hover .m7_title1{
    height: 250px;
    opacity: 1;
    border: 1px solid #8d8d8d;
    
}


.m7_title1{
    top:35px;
    width: 100%;
    height: 0px;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    position: absolute;
    border: 0;
    left:0px;
    opacity: 0;
    overflow: hidden;
    transition: all .3s linear;
    box-sizing: border-box;
    z-index: 10;
    background: #fff
}

li.m8_title:hover .m8_title1{
    height: 250px;
    opacity: 1;
    border: 1px solid #8d8d8d;
    
}


.m8_title1{
    top:35px;
    width: 100%;
    height: 0px;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    position: absolute;
    border: 0;
    left:0px;
    opacity: 0;
    overflow: hidden;
    transition: all .3s linear;
    box-sizing: border-box;
    z-index: 10;
    background: #fff
}

li.m9_title:hover .m9_title1{
    height: 250px;
    opacity: 1;
    border: 1px solid #8d8d8d;
}


.m9_title1{
    top:35px;
    width: 100%;
    height: 0px;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    position: absolute;
    border: 0;
    left:-10px;
    opacity: 0;
    overflow: hidden;
    transition: all .3s linear;
    box-sizing: border-box;
    z-index: 10;
    background: #fff
}

div.m2_title1 p{
    cursor: pointer;
    margin-top:20px;
    font-family:"Garamond";
}

div.m2_title1 p:hover{
    color:#9b745b
}

div.m2_title1 span:hover{
    cursor: pointer;
    color:#9b745b
}


.m2_title1 img.img1{
    vertical-align: middle;
}

.m00_bg1 h2{
    margin: 20px 0px 10px 0;
}

/* 轮播CSS */

*{margin:0; padding:0;}
#main{
  width:1000px;
  margin:0 auto;
}
#banner{
  width:1000px;
  overflow:hidden;
  position:relative;
}
#ul-imgs{
  list-style:none;
}
#ul-imgs.transition{
  transition:all .5s linear;
}
#ul-imgs>li{
  width:1000px;
  float:left;
}
#ul-imgs img{
  width:1000px;
}
#ul-idxs{
  width:100px;
  margin:0 auto;
  list-style:none;
  position:absolute;
  bottom:25px;
  left:50%;
  margin-left:-50px;
}
#ul-idxs>li{
  float:left;
  width:10px; height:10px;
  background-color:#fff;
  border-radius:5px;
  margin:0 5px;
  cursor:pointer;
}
#ul-idxs>li.active{
  background-color:blue;
}
#btn-left,#btn-right{
  width:60px;
  height:100%;
  position:absolute;
  top:0;
  background-repeat:no-repeat;
  background-position:center;
  cursor:pointer;
}
#btn-left{
  left:20px;
  background-image:url(../image/carousel_item/left_ar.png);
}
#btn-right{
  right:20px;
  background-image:url(../image/carousel_item/right_ar.png);
}
#btn-left:hover,#btn-right:hover{
  background-size:40px 70px
}

.input_1{
    position: relative;
    top:-80px;
    right: 50px;;
}

.input_1 input{
    float:right;
    width: 220px;
    border: 1px solid #d7d7d7;
    font-size: 13px;
    vertical-align: middle;
    padding: 6px 4px 6px 10px;
    bottom:0px;
    
}

.input_1 img{
    float: right;
    vertical-align: middle;
    cursor: pointer;
    position: absolute;
    right: 10px;
    top:6px;
    
}

.input_1:hover div.p-1{
    display: block
}

.input_1 .p-1{
    width: 350px;
    margin: 16px auto 0;
    line-height: 20px;
    font-size: 14px;
    color:#8d8d8d;
    border: 1px solid #d7d7d7;
    right: 0px;
    top:20px;
    position: absolute;
    display: none;
    font-family:"Garamond";
    text-indent: 32px;
}

.header_{
    position: fixed;
    right: 100px;
    top:250px;
    background: gray;
    width: 50px;
    height: 480px;
    text-align: center;
    z-index: 10;
    background: #f4f2f3;
}

.header_1:hover{
    background:#9b745b
}

.header_1{
    background: #cebeb0;
    width: 50px;
    position: relative;
    top: 0px;
    font-size: 12px;
    color: #fff;
    line-height: 16px;
    padding-bottom: 14px;
    cursor: pointer;
    
}



.header_2{
    position: absolute;
    width:50px;
    height: 70px;
    margin: 15px 0;
    z-index: 1;
    top:99px;
    text-align: center;
}

.imgwra {
    margin-top:50px;
    text-align: center;
    background: #f7f6f5;
    margin-top: 23px;
    padding-top: 50px;
}

div .imgwra1{
    float: left;
    margin-left: 56px;
    margin-bottom: 56px;
    width: 600px;
    height: 600px;
    font-size: 0;
    cursor: pointer;
}

div .imgwra2{
    float: left;
    margin-left: 56px;
    margin-bottom: 56px;
    width: 600px;
    height: 600px;
    font-size: 0;
    cursor: pointer;
}

div.txt {
    height: 148px;
    background-color: #fdf0eb;
}
div.txt P{
    font-size: 20px;
    line-height: 36px;
    text-align: center;
    color: #3e3a39;
    padding-top:38px;
}

div.txt1 {
    height: 148px;
    background-color: #fdf0eb;
}
div.txt1 P{
    font-size: 20px;
    line-height: 36px;
    text-align: center;
    color: #3e3a39;
    padding-top:38px;
}

.imgwra .imgwra1{
    overflow: hidden;
}

.imgwra .imgwra1 img{
    transition:all 0.7s;
}

.imgwra .imgwra1:hover img{
    transform: scale(1.1);
}

.imgwra1 div:first-child{
    overflow: hidden;
}
.imgwra1:hover .txt{
    background:#ead2ca;
}

.imgwra .imgwra2{
    overflow: hidden;
}

.imgwra .imgwra2 img{
    transition:all 0.7s;
}

.imgwra .imgwra2:hover img{
    transform: scale(1.1);
}



.imgwra2 div:first-child{
    overflow: hidden;
}
.imgwra2:hover .txt1{
    background:#ead2ca;
}

.page{
    position: relative;
    padding-top: 46px;
    padding-bottom: 36px;
    margin-top: 22px;
    background-color: #fdf0eb;
    clear: both;
    
}

.title{
    text-align: center;
    color: #4e3b35;
}

.title h5{
    font-size: 30px;
    font-weight: 500;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.pro_slidebox{
    clear: both;
    position: relative;
    margin: 28px auto 0;
    width: 1383px;
    height: 578px;
    overflow: hidden;
}

ul.slideUL{
    width: 3688px;
    left: 0px;
    position: absolute;
    margin-left: -2305px;
    height: 100%;
}

.slideUL li{
    position: relative;
    float: left;
    margin: 0 12px;
    width: 437px;
    height: 100%;
}

.slideUL li img{
    width:100%;
    cursor: pointer;
}

.slideUL li:first-child{
    margin-left:0;
}

 .slideUL li:first-child:hover .txt{
    
    opacity: 1;
    bottom: 0;
    
} 

.slideUL li .txt{
    position: absolute;
    left: 0;
    bottom: -180px;
    width: 100%;
    height: 180px;
    text-align: center;
    color: #4d3a33;
    opacity: 0;
    overflow: hidden;
    transition: all .3s linear;
    box-sizing: border-box;
    background-color: rgba(255,255,255,.7);
    box-sizing: border-box
}

.slideUL li:nth-child(2):hover .txt{ 
    opacity: 1;
    bottom: 0;   
} 

.slideUL li:nth-child(3):hover .txt{ 
    opacity: 1;
    bottom: 0;   
}

.slideUL li:nth-child(4):hover .txt{ 
    opacity: 1;
    bottom: 0;   
} 

.slideUL li:nth-child(5):hover .txt{ 
    opacity: 1;
    bottom: 0;   
} 

.slideUL li:nth-child(6):hover .txt{ 
    opacity: 1;
    bottom: 0;   
} 

.slideUL li:nth-child(7):hover .txt{ 
    opacity: 1;
    bottom: 0;   
} 

.slideUL li:nth-child(8):hover .txt{ 
    opacity: 1;
    bottom: 0;   
} 


.slideUL li .line{
    width: 30px;
    height: 1px;
    margin: 18px auto 14px;
    border-top: 1px solid #333;
    box-sizing: border-box;
}

.slideUL li p{
    font-size: 16px;
    line-height: 24px;
    box-sizing: border-box;
}

.slideUL li .con{
    font-weight: 400px;
    padding-top:30px;
    box-sizing: border-box;
}

.pro_slidebox .left{
    /* display: none; */
    left: 28px;
    background: url(../images/arrow.png) no-repeat left center;
    position: absolute;
    top: 50%;
    margin-top: -25px;
    z-index: 9999;
    width: 26px;
    height: 51px;
    cursor: pointer;
}

.pro_slidebox .right{
    right: 28px;
    background: url(../images/arrow.png) no-repeat right center;
    position: absolute;
    top: 50%;
    margin-top: -25px;
    z-index: 99999;
    width: 26px;
    height: 51px;
    cursor: pointer;
}

.pageul{
    margin-top: 32px;
    text-align: center;
}

.pageul li{
    position: relative;
    display: inline-block;
    margin: 0 10px;
    width: 8px;
    height: 8px;
    border: 1px solid #8b766c;
    border-radius: 50%;
    cursor: pointer;
}

.pageul li.on{
    background-color: #8b766c;
}

.btns{
    margin-top: 44px;
    text-align: center;
}

.btns a{
    position: relative;
    margin: 0 80px;
}

.btns a.con_btn{
    display: inline-block;
    width: 172px;
    height: 44px;
    font: 20px/44px "microsoft yahei";
    text-align: center;
    text-align: center;
    color: #fff;
    background-color: #8b766c;
    cursor: pointer;
}

.ordercon{
    position: relative;
    margin: 116px auto 0;
    width: 1360px;
}

.ordercon .text{
     text-align: center
}

.ordercon .text h3{
    font-size: 30px;
    color: #4e3b35;
    font-weight: 400;
   
}

.ordercon .text h5{
    margin-top: 18px;
    font: 18px/26px "microsoft yahei";
    color: #333;
}

.ordercon .btns{
    text-align:center;
    
}

.ordercon .btns a{
    margin: 56px 80px 0;
}

.ordercon .btns a.btns_a{
    display: inline-block;
    width: 172px;
    height: 44px;
    font: 20px/44px "microsoft yahei";
    text-align: center;
    color: #fff;
    background-color: #8b766c;
    cursor: pointer;
}

.sub{
    display: flex;
    justify-content: space-between;
    margin-top: 60px !important;
    width: 1234px;
    margin:0 auto;
}

.sub .shopleft img{
    width: 100%;
}

.sub .shopright .shopment{
    margin:0 27px;
    width: 500px;;
}

.shopright .shopment p{
    font-size: 18px;
    color: #444;
    margin-bottom: 10px;
    padding-left: 9px;
}

.shopright .shopment em{
    color: #c57d5c;
    margin-left: 6px;
}

.shopright .shopment select{
    padding: 8px 0;
    width: 245px;
    font-size: 18px;
    border-color: #939191;
}

.shopment_same{
    margin-top:17px;
    position: relative;
}

.shopment_same input {
    width: 484px;
    font-size: 18px;
    border: 1px solid #cbcbcb;
    padding: 10px 0 10px 8px;
}

.shopment_same strong{
    position: absolute;
    right: 10px;
    top: 13px;
    font-size: 18px;
    color: #8b776c;
    vertical-align: middle;
    font-weight: 100;
   
}

.shopment_same1{
    margin-top:17px;
    position: relative;
}

.shopment_same1 input {
    width: 484px;
    font-size: 18px;
    border: 1px solid #cbcbcb;
    padding: 10px 0 10px 8px;
}

.shopment_same1 strong{
    position: absolute;
    right: 10px;
    top: 13px;
    font-size: 18px;
    color: #8b776c;
    vertical-align: middle;
    font-weight: 100;
   
}

.fix{
    margin-top:20px;
}

.fix input{
    width: 280px;
    font-size: 18px;
    margin-right: 10px;
    padding: 10px 0 10px 8px;
}

.fix .btn01{
    display: inline-block;
    width: 190px;
    height: 44px;
    font-size: 18px;
    line-height: 44px;
    border: none;
    background-color: #8b766c;
    text-align: center;
    color: #fff;
    border-radius: 4px;
}

.data{
    margin-top: 17px;
}

.data input{
    width: 484px;
    font-size: 18px;
    padding: 10px 0 10px 8px;
}

.data input.timedata{
    background: url(../images/calendar.png) 460px center no-repeat;
}

.shopment .shopbutton{
    display: block;
    color:#fff;
    width: 200px;
    height: 48px;
    line-height: 48px;
    font-size: 18px;
    background-color: #8b766c;
    margin: 30px auto 0;
    text-align: center;
}

.shopment .shop_p{
    padding: 26px 0 10px 0;
    font-size: 15px;
    color: #5e5e5e;
    text-align: center;
}

/* 底部样式 */
.dr_footer{
    position: relative;
    padding-top: 76px;
    background-color: #fff;
}

.dr_footer-top{
    background: url(../images/footer_rp.png) repeat-x;
    height: 16px;
}

.dr_footer-ul{
    width: 1200px;
    overflow: hidden;
    padding: 30px 0;
    margin: 0 auto;
}

.dr_footer .dr_footer-ul li{
    float: left;
    width: 86px;
    text-align: center;
    margin: 0 31px;
   
} 


.footer_icon1{
    background-position: 0 0;
}
.footer_icon2{
    background-position: -60px 0;
}
.footer_icon3{
    background-position: -120px 0;
}
.footer_icon4{
    background-position: -180px 0;
}
.footer_icon5{
    background-position: -240px 0;
}
.footer_icon6{
    background-position: -300px 0;
}
.footer_icon7{
    background-position: -360px 0;
}
.footer_icon8{
    background-position: -420px 0;
}

.dr_footer-ul i:hover{
    opacity: .7;
}

.dr_footer-ul i{
    display: inline-block;
    width: 60px;
    height: 60px;
    background-image: url(../images/icon_footer.png);
    background-repeat: no-repeat;
}

.dr_footer-ul span{
    display: inline-block;
    color: #666;
    font-size: 14px;
    text-align: center;
    margin-top: 16px;
}

.dr_tint{
    background: #f7f7f7;
    padding-top: 56px;
}

.w1200{
    padding-bottom: 50px;
    width: 1200px;
    margin: 0 auto;
}

.dr_servie{
    overflow: hidden;
    font-size: 12px;
    line-height: 22px;
}

.dr_servie li:first-child{
    border: none;
    margin-left: 20px;
}

.dr_servie li{
    float: left;
    border-left: 2px solid #dbdbdb;
    padding: 6px 54px;
}

.dr_servie li a{
    color: #666;
    display: block;
}

.dr_focus{
    text-align: center;
    margin-top: 28px;
    
}

.dr_focus h3{
    font-size: 14px;
    margin-bottom: 12px;
    font-weight: 700;
    color: #666;
}

.dr_focus p{
    font-size: 12px;
    margin-bottom: 18px;
    color: #666;
}

.dr_focus a{
    display: inline-block;
    background: url(../images/share_focus.png);
    width: 44px;
    height: 44px;
    margin: 0 15px;
}

.dr_focus .weixin:hover{
    background-position: 0 -53px;
}

.dr_focus .weixin{
    position: relative;
    background-position: 0 0;
}



.dr_focus .weixin:hover img{
    display: block;
}

.dr_focus .weixin img{
    display: none;
    position: absolute;
    right: 56px;
    top: -40px;
    
}

.dr_focus .weibo:hover{
    background-position: -44px 44px;
}

.dr_focus .weibo{
    background-position: -44px 0;
}

.dr_declare{
    height: 70px;
    background: #868686;
    font-family: SimSun;
    line-height: 70px;
    clear: both
}
.w1360{
    width: 1360px;
    margin: 0 auto;
    clear: both
}

.dr_langues{
    position: relative;
    font-size: 12px;
    height: 70px;
    margin-left: 50px;
    float: left;
   
}

.dr_langues a{
    color: #c2c2c2;
    margin-right: 14px;
}

.dr_langues span{
    font-size: 12px;
    color:#ddd
}

.dr_decitem{
    
    height: 70px;
    margin-right: 50px;
    float: right;
}    



.dr_languebtn{
    display: inline-block;
    width: 100px;
    height: 44px;
    text-align: center;
    line-height: 44px;
}

.dr_languebtn a{
    display: inline-block;
    padding-right: 22px;
    background: url(../images/icon_up1.png) no-repeat right center;
    margin-right: 14px;
}

