

*{
    margin:0;
    padding:0;
}

a{
    text-decoration: none;
}

ul li{
    list-style:none;
   
}

.drbackground {
    width: 584px;
    height: 1260px;
    position: fixed;
    top: -100px;
    background-repeat: no-repeat;
    background-position: center top}

.drbackground.back_l {
    left: 50%;
    margin-left: -1264px;
    background-image: url(../images/back_l_o.jpg);
}


.drbackground.back_r {
    left: 50%;
    margin-left: 680px;
    background-image: url(//res.darryring.com/webimg/index/back_r_o.jpg);
    
}

.header_bg{
    
    position: relative;
    width: 1360px;
    margin:0 auto;
   
}

.m00_bg{
    position: relative;
}
.m00_bg:hover .m00_bg1{
    height: 300px;
    opacity: 1;
}
.m00_bg1{
    position:absolute;
    width: 350px;
    height: 0px;
    border:1px solid #8d8d8d;
    background:#fff;
    text-align: center;
    left: -125px;
    opacity: 0;
    overflow: hidden;
    transition: all .5s linear;
}
.m00_bg1 h2{
    margin: 20px 0px 10px 0;
}
.button_bg{
    background:#000;
    color:#fff;
    font-size: 16px;
    width: 200px;
    height: 50px;
    border:1px solid #000;
    cursor: pointer;   
}

.m01_bg{
    display: flex;
    justify-content:space-between;
    height: 40px;
    line-height: 40px;
    border:1px solid #b8b7b6;
    border-left:none;
    border-right: none;
    position: relative;
    top:20px;
    
}

/* .m0_bg img */

.m_bg{
    position: absolute;
    width:100%;
    height:2px;
    top:30px;
    
}
div .imgs img{
    vertical-align: middle;
    margin-left:10px;
}

div .imgs .imgsi{
    margin-left:10px;
}


.ff{
    cursor: pointer;
}
div .imgs a{
    display: inline;
    font-size: 14px;
    color:#000;
    font-family:"Garamond";
    margin-left:10px;
}
div .imgs span{
    font-size: 12px;
    color:#000
}

div .imgs a:hover{color:#bf967c}

.m0_bg span{
    margin-left:10px;
    font-size: 12px;
    cursor: pointer;
    color:#bf967c;
    align-items: center;
}

.m0_bg a{
    display: inline-block;
    color:#797979;
    font-size: 12px;
    margin-left:20px;
}

.m1_bg{
    background-size: 100%;
    text-align: center;
     margin-top: 30px;
    
}
 .imgs div{
    display: inline-block;
 }
.imgs div div:first-child{
    display: inline-block;
    cursor: pointer;
}

.m2{
    padding:20px ;
    
    height: 30px;
    line-height: 30px;
    background: #fff;
}

.m2 ul{
    display: flex;
    flex-flow: row nowrap;
    justify-content:space-around;
    align-items: center;
    margin:0 200px;
    border:none;
}

.m2 ul li a{
    color:#333;
    font-size: 12px;
    
    
}

.m2 ul li a:hover{
    color:#9b745c;
    border-bottom:3px solid #9b745b;
    padding:0px 0px 5px 0px;
}



.dr_show img{
    width: 100%;
}

.lb_bg{
    width: 1200px;
    margin:0 auto;
}

.lb_bg img{width: 100%;}

.show_bg{
    background-image: url(../images/back_l_o.jpg);
    background-size: 100% 100%;
}