.dr_nanner{
    height: 565px;
    position: relative;
}

.login-wrap{
    position: absolute;
    z-index: 1;
    top: 54px;
    right: 106px;
    width: 312px;
    padding-bottom: 8px;
    box-shadow: 0 0 8px #ccc;
}

.login-box {
    position: relative;
    z-index: 2;
    top: 0;
    left: 0;
    width: 312px;
    height: 382px;
    margin-left: 0;
    background: none;
    border: 0;
}

.login-box h3{
    height: 38px;
    font-size: 18px;
    color: #9b745c;
    font-family: "microsoft yahei";
    text-align: center;
    line-height: 38px;
    margin-top: 14px;
    font-weight: normal;
}

.login-from{
    width: 254px;
    margin: 0 auto;
}



.login-text div:first-child p{visibility: hidden;}

.login-text input.ipTxt{
    background-color: #fff;
    background: url(../picture/ico-uinput.png) no-repeat 12px 12px;
    display: block;
    width: 214px;
    height: 36px;
    border: 1px solid #e6e6e6;
    border-radius: 4px;
    margin-top: 12px;
    color: #666;
    line-height: 38px;
    padding-left: 38px;
    outline: none;
}

.login-text input.ipTxt-pwd{
    background-color: #fff;
    background: url(../picture/ico-uinput.png) no-repeat 12px -24px;
    display: block;
    width: 214px;
    height: 36px;
    border: 1px solid #e6e6e6;
    border-radius: 4px;
    margin-top: 12px;
    color: #666;
    line-height: 38px;
    padding-left: 38px;
    outline: none;
}

.login-text p.dr_p{
    margin-top: 8px;
    color: #888;
    font-size: 12px;
    line-height: 12px;
}

.login-text p.dr_p a{
    color:#888;
    float: right;
}

.login-text p.dr_p input{
    vertical-align: middle;
    margin: 0;
    margin-right: 4px;
}

.login-from p.dr_rejister{
    margin-top: 18px;
    color: #9b745c;
    font-size: 12px;
    line-height: 12px;;
}

.login-from p.dr_rejister a{
    color:#888;
    float: right;
}

.dr_btns{
    width: 254px;
    margin: 0 auto;
}

 .dr_btns a.dr_btns_a{
    border: 1px solid #8b766c;
    color: #8b766c;;
    display: inline-block;
    width: 246px;
    height: 38px;
    margin-top: 10px;
    line-height: 38px;
    text-align: center;
    cursor: pointer;
}

.dr_btns a.dr_btns_a:hover{
    background: #8b766c;
    color: #fff;
}

.dr_other{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 45px;
    background: #fefefe;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    text-align: center;
}

.dr_other h4{
    position: absolute;
    top: -7px;
    left: 0;
    width: 100%;
    color: #9b745c;
    font-size: 12px;
    text-align: center;
    background: url(../picture/otherLoginHr.png) no-repeat center center;
}

.dr_other a{
    display: inline-block;
    width: 21px;
    height: 16px;
    margin: 18px 8px 0;
    background: url(../picture/ico-otherLogin.png) no-repeat;
    vertical-align: middle;
}

.dr_other a.qq:hover{
    background: url(../picture/ico-otherLogin.png) no-repeat;
    background-position: 0px -27px;
}

.dr_other a.qq{
    background: url(../picture/ico-otherLogin.png) no-repeat;
    background-position: 0px 0;
}

.dr_other a.wx:hover{
    background: url(../picture/ico-otherLogin.png) no-repeat;
    background-position: -42px -28px;
}

.dr_other a.wx{
    background: url(../picture/ico-otherLogin.png) no-repeat;
    background-position: -42px 0;
}

.dr_other a.wb:hover{
    background: url(../picture/ico-otherLogin.png) no-repeat;
    background-position: -87px -28px;
}

.dr_other a.wb{
    background: url(../picture/ico-otherLogin.png) no-repeat;
    background-position: -87px 0;
}

.dr_other a.zfb:hover{
    background: url(../picture/ico-otherLogin.png) no-repeat;
    background-position: -130px -28px;
}

.dr_other a.zfb{
    background: url(../picture/ico-otherLogin.png) no-repeat;
    background-position: -130px 0;
}

.dr_stbanner{
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 565px;
    overflow: hidden;
}

p.f1{
    float: right;
}